:root {
	--color-text:rgb(0, 0, 0);
	--color-selected:rgb(255, 255, 255);	

  --swiper-pagination-color: white;
  --swiper-navigation-color: white;
  --swiper-scrollbar-size: 0px;
  --swiper-pagination-bullet-inactive-color:black;
  --swiper-pagination-bullet-inactive-opacity:1;
  --color-selected:rgb(58, 255, 71);
  --color-arrows: rgb(58, 255, 71);
  --color-button:rgb(58, 255, 71); 
  --color-play: linear-gradient(90deg, rgb(58, 255, 71) 0%, rgb(30, 156, 5) 100%);


}

@media (prefers-color-scheme: dark) {
	:root {
		--color-text:rgb(255, 255, 255);
		--color-background:rgb(0, 0, 0);
    --color-selected:rgb(233, 111, 244);
    --color-arrows: rgb(233, 111, 244);
    --color-button:rgb(233, 111, 244); 
    --color-play: linear-gradient(90deg, rgb(233, 111, 244) 0%, rgb(173, 10, 191) 100%);
    
    --swiper-pagination-color: black;
    --swiper-navigation-color: white;
    --swiper-pagination-bullet-inactive-color:white;
	}
  
}

body {
  margin:0;
}

/* carousel */

.swiper {
    width: 100vw;
    height: 100vh;
}

h2{
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    left: 1em;
    top: 1em;
    margin: 0;
    line-height: 1.5em;
    z-index: 200;
    text-shadow: 
      0 0 .25em #fff,
      0 0 .5em #fff,
      0 0 1em #fff;  
}

img{
  height:100%;
  width:100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

section div div div {
  display:none;
}


/* Button pause play https://codepen.io/mccombsc/pen/ZEzxWPy */
button {
  position: fixed;
  right: 2em;
  bottom: 2em;
  z-index: 200;
  border-radius:1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  background:var(--color-play);
  border: none;
  box-shadow: 10px 10px 24px var(--color-button);
  transition: all 0.3s ease-in-out 0s;
  padding: 10px;
}


button::after {
  content: '';
  border-radius: 100%;
  border: 6px solid var(--color-arrows);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 2s infinite;
}

@keyframes ring {
  0% {
    width: 20px;
    height: 20px;
    opacity: 1;
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}





/* FILTER OPTIONS */
aside {
  position: fixed;
  right:2em;
  top:2em;
  z-index: 200;
	display: flex;
	flex-direction: row;
  gap: 1em;
  justify-content: center;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;

}

input {
  position: absolute;
  left:-9999em;
}

label{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1em;
  color: var(--color-text);
  background-image:linear-gradient(rgb(15, 14, 14), rgb(135, 124, 124)) ;
  padding:1em;
  border-radius:1em;
  line-height: 1em;

}

input:checked + label {
  color:var(--color-selected);
}


div.swiper-button-next{
  color:var(--color-button) ;
}

div.swiper-button-prev{
  color:var(--color-button) ;
}

