:root {
	--color-text:rgb(0, 0, 0);
	--color-background:rgb(255, 255, 255);	

    --color: #999;
    --checked-color: #ff5722;

}

@media (prefers-color-scheme: dark) {
	:root {
		--color-text:rgb(255, 255, 255);
		--color-background:rgb(0, 0, 0);
	}
  .swiper-slide{
    background-image: radial-gradient(rgb(255, 255, 255),rgb(255, 255, 255), rgb(0, 0, 0), rgb(0, 0, 0));
  }
}


h2{
  font-size: 2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  animation: color-change 2s infinite;

}


@keyframes color-change{
  5% { color: rgb(0, 0, 0)}
  20% { color: rgb(78, 78, 78)}
  40% { color: rgb(111, 111, 111)}
  60% { color: rgb(138, 138, 138)}
  80% { color: rgb(177, 177, 177)}
  100% { color: rgb(219, 219, 219)}
}

body {background-color: var(--color-background)}


img{

    max-width: 80%;
    margin: auto;
    display: block;
    max-height: 500px ;
    padding-top: 100px;
    filter: drop-shadow(0px 10px 10px rgba(0,0,0,0.55));

}

.swiper {
    width: 80%;
    height: 700px;
	
  }
  
  .hidden {
      display: none;
  }


  ul.pets li:not(.pets) {
	display:none;
  }
  
  ul.wateranimal li:not(.wateranimal) {
	display:none;
  }
  
  ul.landanimals li:not(.landanimals) {
	display:none;
  }

  aside {
	display: flex;
	flex-direction: column;
  
  }

  li{

  list-style: none;
}

label{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1em;
  color: var(--color-text);

}


/* input:hover {
    background: #fff;
    box-shadow: 0px 2px 20px 10px rgb(59, 59, 59);
    color: #000;
} */

img:hover{
  filter: drop-shadow(0px 10px 10px rgb(0, 0, 0));

}





html {
  --color: #999;
  --checked-color: #ff5722;

  --bg-color: #e8e8e8;

  font-family: Arial;
  font-size: 16px;
}


input[type="radio"] {
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 0.5rem;
}



.custom-radio {
  /* hiding browser el */
  appearance: none;
  /* Safari support */
  -webkit-appearance: none;
  border: 0.2rem solid #fff;
  background-color: var(--bg-color);
  border-radius: 50%;
}

/* keyboard navigation focus appearance */
.custom-radio:focus-visible {
  outline-offset: 0;
}


#outline {
  outline: 1px solid var(--color);
}

#outline:hover {
  outline-color: var(--checked-color);
}

#outline:checked {
  outline-color: var(--checked-color);
  background-color: var(--checked-color);

  animation: outline-checked;
  animation-duration: 0.1s;
  animation-iteration-count: 4;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes outline-checked {
  0% {
      outline-offset: 0;
  }

  100% {
      outline-offset: -0.2rem;
  }
}
