/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
			 url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}





/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button:not[disabled], summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/
body {
  font-family:eenfont, sans-serif;
  color:var(--color-text);
  background-color:var(--color-background);
}

/* jouw code */


body {
	width: 100vw;
	height: 100vh;
	display: grid;
	padding: 60px 0;
	grid: 1fr min-content min-content 1fr/1fr;
	align-items: center;
	justify-items: center;
  }
  
  
  section {
	width: 100vw;
	overflow: hidden;
	position: relative;
	--v-offset: 60px;
	--curve-height: 120px;
  }

  section:before, section:after {
	content: "";
	display: block;
	background-color:var(--color-background);
	height: var(--curve-height);
	position: absolute;
	border-radius: 50%;
	/* left: calc(-1 * var(--v-offset));
	right: calc(-1 * var(--v-offset)); */
  }
  section:before {
	top: calc(-0.6 * var(--curve-height));
  }
  section:after {
	bottom: calc(-0.6 * var(--curve-height));
  }
  
  .wrapper {
	display: grid;
	grid-template-rows:450px;
	grid-auto-flow: column;
	grid-gap: 20px;
	overflow: auto;
  }

  .wrapper img {
	scroll-snap-align: center;
	height: 70%;
  }


  /* https://codepen.io/SimeonC/pen/WNzXewp?editors=1100 */
  /* https://unsplash.com/s/photos/pets */
  
 
  