/* CSS Document */
@import url('https://fonts.cdnfonts.com/css/couture');

/*********/
/* FONTS */
/*********/
/* @font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
			 url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

} */





/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button:not[disabled], summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/
/* body {
  font-family:eenfont, sans-serif;
  color:var(--color-text);
  background-color:var(--color-background);
} */

/* jouw code */



h1 span span{
	font-family: 'Couture', sans-serif;
	transform: translateX(-200%);
	animation: slide-in 1.5s forwards;
	text-align: center;
	position: relative;
	opacity: 0;
}


@keyframes slide-in {
    0% { 
		transform: ; }
    50% {
		 bottom: -30%; }
    100% { 
		bottom: 0; opacity: 1; }
}


